.well.col-md-4.col-xs-12.col-md-offset-4
  center
    h1 Login
  = form_tag sessions_path do
    p
      = label_tag :email
      br
      .input-group
        span.input-group-addon
          span.glyphicon.glyphicon-user aria-hidden="true"
        = text_field_tag :email, params[:email], placeholder: 'Enter email', class: 'form-control'
    p
      = label_tag :password
      br
      .input-group
        span.input-group-addon
          span.glyphicon.glyphicon-lock aria-hidden="true"
        = password_field_tag :password, nil, placeholder: 'Enter password', class: 'form-control'
    br
    = submit_tag nil, class: 'btn btn-success btn-block'
  .row
    center
      br
      = link_to 'You are not registred? Sign Up!', sign_up_path
      center
        i Enter to social newtork:
        br
        = link_to 'auth/vkontakte' do
          = fa_stacked_icon "vk", base: "square-o", class: 'fa-2x vk_icon'
        = link_to 'auth/facebook' do
          = fa_stacked_icon "facebook", base: "square-o", class: 'fa-2x fb_icon'
        = link_to 'auth/google_oauth2' do
          = fa_stacked_icon "google-plus", base: "square-o", class: 'fa-2x google_icon'
