= form_for @post, remote: true do |f|
  = f.label :title
  br
  = f.text_field :title, class: 'form-control form-post', placeholder: 'Enter title', required: true
  p
  = f.label :body
  p
  = f.cktext_area :body, rows: 5, class: 'form-control form-post', placeholder: 'Enter text', required: true, ckeditor: { id: @post.id }
  p
  = f.fields_for :images, remote: true  do |ff|
    = ff.label :url
    p
    = ff.file_field :url
  p 
  = f.submit class: 'btn btn-success BtnAddPost'
