.TextPost id='post_#{post.id}'
  h3
    b= post.title
  p= raw post.body
  p= post.created_at.strftime("%B %d, %Y")
  = social_share_button_tag(post.body, url: news_url)
  - post.images.each do |image|
    p= image_tag image.url.url(:thumb), class: 'img-rounded post-image'
