.well
  .row
    .col-md-10.col-xs-9
      h4= post.user.name_space
    .col-md-2.col-xs-3
      - if current_user
        - if current_user.id == post.user_id
          .btn-group
            = link_to edit_post_path(post), class: 'btn-sm btn-link', remote: true, id: 'edit_post' do
              span.glyphicon.glyphicon-pencil aria-hidden="true"
            = link_to post_path(post), id: 'destroy_post', class: 'btn-sm btn-link',   method: 'DELETE', remote: true, data: { confirm: "Are you sure delete   post a #{ post.title }?" } do
              span.glyphicon.glyphicon-remove aria-hidden="true"
  #PostWell.well.row
    .col.md-12.col-xs-12
      = render 'posts/post_row', post: post
