doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title Blog users
    = stylesheet_link_tag    'application', :media => "all", 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  body
    = render 'shared/header'
    .col-md-4.col-xs-12.col-md-offset-8
      - flash.each do |name, msg|
        = content_tag :div, msg, id: "flash_#{name}", class: 'alert alert-info message'
    .container
      = yield
    = render 'shared/footer'
