col-md-12.col-xs-12
  .row.jumbotron
    col-md-10.col-xs-7
      h1
        #Hello.span.label.label-primary Hello world
      br
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id nisl nec tortor   aliquam fermentum eget vel elit. Sed sodales est non maximus efficitur. Nunc fermentum   semper hend-rerit.Donec id odio dignissim, lacinia leo vitae, gravida eros.
      button#btnSubmit.btn.btn-danger Press the button
      p
      #myAlert.alert.alert-success.collapse
        #linkClose.a.close href="#"  ×
        h5 Congratulations, you pressed the button! Take the patty from the shelf
    col-md-2.col-xs-5
      center
        = image_tag '/assets/5051972915fa482c4462533e244c7437.png', class: 'hello_picture'
