#post_user.col-md-10.col-xs-12.col-md-offset-1.well
  center
    h1 News
  .row
    .col-md-10.col-xs-12.col-md-offset-1
      - if current_user
        #AddPost
          = render 'posts/form'
      - else
        center
          p To leave a record you need to be logged in!
          = link_to 'Sign up', sign_up_path, class: 'btn btn-success btn-sm'
          |  else 
          = link_to 'log in', log_in_path, class: 'btn btn-primary btn-sm'
  .row
    .col-md-10.col-xs-12.col-md-offset-1
      hr
      #AllPosts
      #all_posts
        = render @posts
      center
        = will_paginate @posts
