/*
 *= require_self
 *= require social-share-button
 *= require font-awesome
 *= require_tree .
*/
body {
  background: linear-gradient(to right, #f9f29a, #e6d048);
}
#PostWell{
  background: linear-gradient(to right, #ffffff, #a1ec71);
}
.foot{
  background: darken(#428bca, 6.5%);
  color: yellow;
}
#post_user{
  background: rgba(0, 0, 0, 0.075);
}
.header-picture {
  width: 40px;
  height: 31px;
}
.hello_picture{
  height: 100%;
  width: 200px;
}
.vk_icon{
  color: #507299;
}
.vk_icon:hover {
  color: blue;
}
.fb_icon{
  color: #4267b2;
}
.fb_icon:hover {
  color: #1764ff;
}
.google_icon{
  color: #f1404a;
}
.google_icon:hover {
  color: red;
}
p{
  text-align: justify;
}
