.footer
  br
  br
  br
  .navbar-fixed-bottom.row-fluid
    .navbar-inner
      .container.foot
        .col-md-4.col-xs-12.col-md-offset-4
          center
            br
            | CrashGtaFan © 2017 All rights reserved
          br
