nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button" 
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a
        = link_to root_path, class: 'navbar-brand' do
          = image_tag '/assets/red_gem.png', class: 'header-picture'
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li= link_to 'News', news_path
      ul.nav.navbar-nav.navbar-right
        - if current_user
          .navbar-text.count_posts
            li id='user_#{current_user.id}_count_post'
              = pluralize current_user.posts.size, 'post'
          li= link_to "Signed in as  #{ current_user.name_space }", current_user
          li= link_to 'Log out', log_out_path
        - else
          li= link_to 'Sign up', sign_up_path
          li= link_to 'log in', log_in_path
