- if @user.errors.any?
  #ErrorSignUp.alert.alert-danger role='alert'
    button.close data-dismiss='alert' x
    .error_messages
      h3 Form is invalid
      ol
        - for message in @user.errors.full_messages
          li= message
