.well.col-md-6.col-xs-12.col-md-offset-3
  center
    h1 Edit profile
  = form_for @user do |f|
    = render 'error'
    .row
      .col-md-6.col-xs-6
        = f.label :first_name
        br
        = f.text_field :first_name, placeholder: 'Enter first name', class: '  form-control'
      .col-md-6.col-xs-6
        = f.label :last_name
        br
        = f.text_field :last_name, placeholder: 'Enter last name', class: 'form-control'
    .row
      .col-md-6.col-xs-6
        p
        = f.label :username
        br
        = f.text_field :username, placeholder: 'Enter username', class: 'form-control'
      .col-md-6.col-xs-6
        p
        = f.label :birthday
        br
        = f.text_field :birthday, placeholder: 'Enter birthday', type: 'date', class: 'form-control'
    .row
      .col-md-12.col-xs-12
        p
        = f.label :email
        br
        = f.text_field :email, placeholder: 'Enter email', class: 'form-control'
        p
        = f.label :password
        br
        = f.password_field :password, placeholder: 'Enter password', class: '  form-control'
        p
        = f.label :password_confirmation
        br
        = f.password_field :password_confirmation, placeholder: 'Confirm the password' , class: 'form-control'
    .row
      .col-md-12.col-xs-12
        p
        = f.submit 'Edit profile', class: 'btn btn-primary btn-block'
