.well.col-md-4.col-xs-12.col-md-offset-4
  center
    h1 Sign up
  = form_for @user do |f|
    = render 'error'
    p
      = f.label :email
      p
      = f.text_field :email, placeholder: 'Enter email', class: 'form-control'
    p
      = f.label :password
      p
      = f.password_field :password, placeholder: 'Enter password', class: '  form-control'
    p
      = f.label :password_confirmation
      p
      = f.password_field :password_confirmation, placeholder: 'Confirm the password'  , class: 'form-control'
    br
    = f.submit 'Registration', class: 'btn btn-success btn-block'
