.well.col-md-6.col-xs-10.col-md-offset-3.col-xs-offset-1
  center
    h1 Profile
  table.table
    tr
      th Email:
      td= @user.email
    tr
      th Full name:
      td= @user.full_name
    - unless @user.birthday.nil?
      th Birthday:
      td= @user.birthday.strftime("%d.%m.%Y")
    tr
      th Username:
      td= @user.username
    tr
      th Count posts:
      td= pluralize @user.posts.size, 'post'
  p
  - if current_user
    - if current_user.id == @user.id
      = link_to 'Edit', edit_user_path(@user), class: 'btn btn-warning btn-block'
    else
      nil
